.drawing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .drawing-headline {
        margin: 1rem 0;
        color: #2C3E50;
    }

    .brush-color {
        border: none;
        margin: 5px;
        width: 80px;
        height: 40px;
        cursor: pointer;
    }

    .pick-color {
        font-weight: 600;
    }

    .pick-color-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn {
        border-radius: 4px;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 30px;
        height: 40px;
        line-height: 50px;
        background-color: #b61212;
        color: #fff;
        font-size: 22px;
        border: none;
        text-align: center;
        transition: all 0.3s ease;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        cursor: pointer;

        &:hover {
            transition: all 0.3s ease;
            background-color: #b31e1ebb;
        }
    }

    .drawing-btns {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            font-size: 60px !important;
            color: #2C3E50;
            border: none;
            margin: 0 3px;
            background: transparent;
            transition: all 0.4s ease;

            &:hover {
                cursor: pointer;
                transform: scale(1.3);
                transition: all 0.4s ease;
            }
        }
    }

    .brush-settings {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .brush-size {
            cursor: pointer;
        }
    }
}