// Layout
.guessing {
    color: #2C3E50 !important;

    .guessing-middle {
        width: 260px;
        margin: 0 auto;
    }

    // Fonts

    @import url(https://fonts.googleapis.com/css?family=Indie+Flower);

    // Fancy inputs

    #fancy-inputs {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        float: left;
        width: 100%;
        margin: 0 0 90px 0;

        label.input {
            float: left;
            // width: 460px;
            width: 460px;
            height: 42px;
            margin: 90px 0 0 0;
            position: relative;
            clear: both;

            span {
                width: 100.01%;
                height: 40px;
                line-height: 40px;
                position: absolute;
                left: 0;
                cursor: text;

                span {
                    position: absolute;
                    top: 0;
                    z-index: 1;
                    font-family: 'Indie Flower', cursive;
                    font-size: 22px;
                    //   color: #fff;
                    text-indent: 10px;
                    transition: 0.3s;
                    -webkit-transition: 0.3s;
                    -moz-transition: 0.3s;
                }

                &:before {
                    content: '';
                    width: 0%;
                    height: 3px;
                    background-color: #2C3E50;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 99;
                    transition: 0.3s;
                    -webkit-transition: 0.3s;
                    -moz-transition: 0.3s;
                }

                &:after {
                    content: '';
                    width: 0%;
                    height: 3px;
                    background-color: #2C3E50;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    z-index: 99;
                    transition: 0.3s;
                    -webkit-transition: 0.3s;
                    -moz-transition: 0.3s;
                }
            }
        }

        input {
            float: left;
            // width: 460px;
            width: 460px;
            height: 40px;
            padding: 0 10px;
            border: 0;
            border-bottom: 3px solid #817676;
            background-color: transparent;
            font-family: 'Indie Flower', cursive;
            font-size: 22px;
            position: relative;
            z-index: 99;

            &:focus {
                outline: 0;
            }

            &.white {
                background-color: #E74C3C;
            }
        }

        input:focus+span {
            span {
                cursor: initial;
                position: absolute;
                top: -35px;
                color: #2C3E50;
            }

            &:before {
                width: 50%;
            }

            &:after {
                width: 50%;
            }
        }

        span.fixed {
            span {
                top: -35px;
            }
        }
    }

    .guessing-btn {
        border-radius: 4px;
        float: left;
        width: 50%;
        height: 50px;
        line-height: 50px;
        margin: 20px 0 50px 0;
        background-color: #2C3E50;
        color: #fff;
        font-family: 'Indie Flower', cursive;
        font-size: 22px;
        border: none;
        text-align: center;
        transition: all 0.3s ease;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        cursor: pointer;

        &:hover {
            transition: all 0.3s ease;
            background-color: #374b60;
        }
    }
}

@media screen and (max-width:500px) {

    .guessing-input,
    .input {
        width: 200px !important;
    }
}

@media screen and (max-width:340px) {

    .guessing-input,
    .input {
        width: 200px !important;
    }
}